@mixin font-face($font-family, $font-file, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: local($font-family) url($font-file + '.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}

@include font-face('Work Sans', '~@/assets/fonts/WorkSans/WorkSans-Light', 300, 'normal');
@include font-face('Work Sans', '~@/assets/fonts/WorkSans/WorkSans-Regular', 400, 'normal');
@include font-face('Work Sans', '~@/assets/fonts/WorkSans/WorkSans-Medium', 500, 'normal');
@include font-face('Work Sans', '~@/assets/fonts/WorkSans/WorkSans-SemiBold', 600, 'normal');
@include font-face('Work Sans', '~@/assets/fonts/WorkSans/WorkSans-Bold', 700, 'normal');
