@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}
@mixin overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@mixin webkit-box {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%)
) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@mixin icon-mask($image, $width: 19px, $height: 19px, $color: rgb(0, 0, 0, 0.75)) {
  width: $width;
  height: $height;
  mask-image: url("@/assets/img/#{$image}.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: $color;
}
