$primary: #0077FF;
$light-blue: #79B2F2;
$white: #ffffff;
$text-color: #222222;
$text-color-2: #333333;
$gray: #EEEEEE;
$input-gray: #666666;
$error: #eb5757;
$black: #000000;
$success: #00cc99;
$warning: #f2c94c;
