@import "normalize";
@import "reset";
@import "mixins";
@import "variables";
@import "typography";

* {
  font-family: "Work Sans", sans-serif;
  color: $text-color;
}

body {
  &.no-scroll {
    overflow: hidden;
  }
}